@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');

:root{
    --cor0:#3F5925;
    --cor1:#D9CAC1;
    --cor2:#BF5630;
    --cor3:#D9967E;
    --cor4:#A64037;
    --cor5:rgb(60, 10, 10);

    --fonte1:  Arial, helvetica, Sans-serif;
    --fonte2: 'Roboto Condensed';
    --fonte3: 'Roboto Mono';
    --fonte4: 'Nanum Myeongjo';
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
}
header{
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    text-align: center;
    padding: 50px;
}
header h1{
    font-family: var(--fonte4);
    padding-bottom: 20px;
}
header p{
    font-family: var(--fonte3);
    font-weight: bold;
}
nav{
    background-color: var(--cor2);
    padding-bottom: 5px;
}
nav a{
    font-family: var(--fonte3);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor5);
    margin: 10px;
}
nav a:hover{
    text-decoration: underline;
}
section{
    width: 70vw;
    height: 50vh;
}
section h1{
    text-align: center;
}
section h2{
    padding-top: 10px;
    padding-left: 7vh;
}
section p{
    display:inline-block;
    width: 40vw;
    padding-left: 5vh;
    text-align: justify;
}
img{
    float: right; 
    display: grid;  
}   
#img{
    width: 100vw;
    height: 100vh;
    background: url(../imagens/skateboard-header-grito-1200x900.jpg) center no-repeat;
}